.popup_container{
    @include flex_center();
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.48);
    z-index: 2;
    border-radius: 20px;
    opacity: 0;
    transition: 0.3s;
}
.popup_open{
    opacity: 1;

}

.yes_button{
    @include start_save_buttons();
    background-color: #d2912eed;
}
.no_button{
    @include start_save_buttons();
    background-color: #595146f5;
}
.win{
    text-align: center;
    line-height: 44px;
    transform: scale(0);
    transition: 0.3s;
}
.win_open{
    transform: scale(1);
}
