.time_and_counter_container{
    @include flex_center();
    justify-content: space-between;
    height: 50px;

    .counter{
        color: rgb(218 218 218 / 72%);
        margin-left: 25px;
        width: 35px;
        font-size: 20px;
    }
    .time{
        color: rgb(218 218 218 / 72%);
        width: 40px;
        margin-right: 20px;
        font-size: 18px;
    }
}
